<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="${user} + ' - Dashboard'"></title>
    <!--- Verlinkungen der Stylesheets Local + Web --->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{dashboard.css}">
</head>
<body>
<div class="container">
    <div class="row">
        <h1 align="center">Dashboard</h1>
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Noch abzustimmen</div>
                <div class="panel-body">
                    <ul>
                        <li>Event 01</li>
                        <li>Event 02</li>
                        <li>Event 03</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-offset-1 col-md-3">
            <span class="group-btn">
                <a href="#" class="btn btn-primary btn-md">Neues Event erstellen <i class="fa fa-sign-in"></i></a>
            </span>
        </div>
        <div class="col-md-offset-1 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Meine Events</div>
                <div class="panel-body">
                    <ul>
                        <li>Event 01</li>
                        <li>Event 02</li>
                        <li>Event 03</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>