<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Registrierung</title>
    <!--- Verlinkungen der Stylesheets Local + Web --->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/signin.css">

</head>
<div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <form class="form-login" th:object="${user}" method="post">
                <h3>Registrierung</h3>
                <input type="text" class="form-control input-sm chat-input" placeholder="Username"
                       th:field="*{name}" /><br>
                <input type="password" class="form-control input-sm chat-input" placeholder="Passwort"
                       th:field="*{password}" /><br>
                <div class="wrapper">
                    <input type="submit" value="Register" class="btn btn-primary btn-md" />
                </div>
                <p th:if="${message}" th:text="${message}"></p>
            </form>


        </div>
    </div>
</div>
</body>
</html>